@import "./libs/normalize/normalize.scss";
@import "./libs/bootstrap/main.scss";
@import "./libs/owl-carousel/index.scss";
@import "./libs/components/index.scss";

html {
  font-family: "Inter", sans-serif;
  background-color: #000816;

  body {
    background-color: #000816;
  }
}

a {
  text-decoration: none;
  font-size: 18px;

  &:hover {
    color: #a1f1ff !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Clash Display", sans-serif !important;
}

h1 {
  background-image: url("assets/dust 2.png");
  font-size: 64px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 64px;
}
h5 {
  font-size: 64px;
}

._h1 {
  font-size: 64px;
}

.gradient-text {
  background: linear-gradient(82deg, #a1f1ff 0%, #fff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

b.outline {
  font-weight: normal;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
  font-family: "Clash Display", sans-serif !important;
  color: #a1f1ff;
  text-align: center;
  font-size: 390px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 504px */
  letter-spacing: -8.4px;
  opacity: 0.15000000596046448;
  display: block;
  margin-top: -263px;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  h1 {
    background-image: url("assets/dust 2.png");
    font-size: 54px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  ._h1 {
    font-size: 54px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  ._h1 {
    font-size: 46px;
  }

  b.outline {
    font-size: 75px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  ._h1 {
    font-size: 42px;
  }

  .container {
    max-width: 90%;
  }

  .Chance {
    gap: 30px;

    .call {
      gap: 130px;

      h2 {
        font-size: 70px !important;
        max-width: 313px;
      }
    }

    .price-tag {
      span {
        font-size: 30px;
      }

      p {
        font-size: 50px;
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  ._h1 {
    font-size: 46px;
  }

  .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 575.98px) {
  .container {
    max-width: 90%;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  ._h1 {
    font-size: 28px;
  }
}

// @media only screen and (min-width: 1200px) and (max-width: 1400px) {

// }

// @media only screen and (min-width: 992px) and (max-width: 1199px) {

// }

// @media only screen and (min-width: 768px) and (max-width: 991px) {

// }

// @media only screen and (min-width: 576px) and (max-width: 767.98px) {

// }

// @media only screen and (max-width: 575.98px) {

// }
