@import "./libs/normalize/normalize.scss";
@import "./libs/bootstrap/main.scss";
@import "./libs/owl-carousel/index.scss";
@import "./libs/components/index.scss";

html {
  font-family: "Inter", sans-serif;
  background-color: #000816;

  body {
    background-color: #000816;
  }
}

a {
  text-decoration: none;
  font-size: 18px;

  &:hover {
    color: #a1f1ff !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Clash Display", sans-serif !important;
}

h1 {
  background-image: url("assets/dust 2.png");
  font-size: 64px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 64px;
}
h5 {
  font-size: 64px;
}

._h1 {
  font-size: 64px;
}

.gradient-text {
  background: linear-gradient(82deg, #a1f1ff 0%, #fff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

b.outline {
  font-weight: normal;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
  font-family: "Clash Display", sans-serif !important;
  color: #a1f1ff;
  text-align: center;
  font-size: 390px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 504px */
  letter-spacing: -8.4px;
  opacity: 0.15000000596046448;
  display: block;
  margin-top: -263px;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  h1 {
    background-image: url("assets/dust 2.png");
    font-size: 54px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  ._h1 {
    font-size: 54px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  ._h1 {
    font-size: 46px;
  }

  b.outline {
    font-size: 75px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  ._h1 {
    font-size: 42px;
  }

  .container {
    max-width: 90%;
  }

  .Chance {
    gap: 30px;

    .call {
      gap: 130px;

      h2 {
        font-size: 70px !important;
        max-width: 313px;
      }
    }

    .price-tag {
      span {
        font-size: 30px;
      }

      p {
        font-size: 50px;
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .accordion .accordion-item .accordion-button {
    padding: 10px;
    font-size: 18px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  ._h1 {
    font-size: 46px;
  }

  .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 575.98px) {
  .accordion .accordion-item .accordion-button {
    padding: 10px;
    font-size: 18px;
  }

  .container {
    max-width: 90%;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  ._h1 {
    font-size: 28px;
  }
}

// @media only screen and (min-width: 1200px) and (max-width: 1400px) {

// }

// @media only screen and (min-width: 992px) and (max-width: 1199px) {

// }

// @media only screen and (min-width: 768px) and (max-width: 991px) {

// }

// @media only screen and (min-width: 576px) and (max-width: 767.98px) {

// }

// @media only screen and (max-width: 575.98px) {

// }

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}
